html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.App {
  /* height: 100vh; */
  max-width: 300px;
  margin: 100px auto 10px;
  border: 1px solid red;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
